<!-- form -->
<form name="userform" method="post" #formCtrl="ngForm">
  <div class="main-wrapper">
    <div class="main-header">
      <h2>Projects</h2>
    </div>
    <div class="main-info">
      <h3>Project Name</h3>
    </div>
    <div class="main-content">
      <div class="form-group">
        <input type="text" value="" id="name" class="form-control" [(ngModel)]="project.name" name="name" required>
      </div>
      <ul style="margin: 0px;">
        <!--Description-->
        <div class="main-content" style="clear:both;">
          <ul style="margin: 0px;">
            <li style="height: auto; display: block;" class="p-wrapper pending">
              <div class="p-name bold">Description</div>
              <div style="clear: both; height: 1px; width: auto; background: #e2e3e3;"></div>
              <div style="height: auto; width: auto; display: inline;">
                <div class="form-group">
                    <textarea id="inputTextarea" onkeyup="resizeTextarea('inputTextarea')"
                              class="form-control" [(ngModel)]="project.description" name="description"></textarea>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <!--Basic Details-->
        <li style="height: 150px; display: block;" class="p-wrapper pending">
          <div class="p-name bold">Basic Details</div>
          <div style="clear: both; height: 1px; width: auto; background: #e2e3e3;"></div>
          <div style="height: auto; width: auto; display: inline;">
            <div class="date-box" style="margin-left: 30px;">
              <h3>SELECT START</h3>
              <div class="form-group">
                <input type="date" id="start" class="form-control" [(ngModel)]="project.start" name="start" required>
              </div>
            </div>
            <div class="date-box" style="margin-left: 10px;">
              <h3>SELECT DEADLINE</h3>
              <div class="form-group">
                <input type="date" id="deadline" class="form-control" [(ngModel)]="project.deadline" name="deadline"
                       required>
              </div>
            </div>
            <div class="date-box" style="margin-left: 10px;">

              <h3>Cost</h3>
              <div class="form-group">
                <input type="number" value="" class="currency-input" id="cost" class="form-control"
                       [(ngModel)]="project.cost"
                       name="cost" required>
              </div>
            </div>
          </div>
        </li>

        <!--To-Do-List -->
        <li style="height: auto; display: block;" class="p-wrapper pending">
          <div class="p-name bold">To-Do-List</div>
          <button type="button" (click)="addNewToDo()">+</button>
          <div style="clear: both; height: 1px; width: auto; background: #e2e3e3;"></div>
          <div style="height: auto; width: auto; display: block;">
            <div class="to-do-wrapper">
              <ul *ngFor="let task of checkboxJSON">
                <li>
                  <input type="checkbox" (click)="checkboxChange($event, task.id)">
                  <label>{{task?.label}}</label>
                </li>
              </ul>
            </div>
          </div>
        </li>

        <!-- Notes -->
        <li style="height: auto; display: block;" class="p-wrapper pending">
          <div class="p-name bold">Notes</div>
          <button type="button" (click)="addNewNotice()">+</button>
          <div style="clear: both; height: 1px; width: auto; background: #e2e3e3;"></div>
          <div style="height: auto; width: auto; display: block;">
            <div class="to-do-wrapper">
              <ul id="notice">

              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <!-- Navigation -->
  <div id="navi-bottom">
    <div id="navi-bottom-wrapper">
      <ul>
        <li class="left">
          <a class="left" [routerLink]="['/main']"><img src="../../assets/img/btn_back.png" width="45px" height="43px"/></a>
        </li>
        <li class="right">
          <a (click)="saveNewProject()">Speichern</a>
        </li>
      </ul>
    </div>
  </div>

</form>
