<div>
  <form name="userform" method="post" #formCtrl="ngForm">


    <!-- Input field email -->
    <input type="email" class="form-control" [(ngModel)]="user.email" name="email" placeholder="Email" required>

    <!-- Input field password -->
    <input type="password" class="form-control" [(ngModel)]="user.password" name="password" placeholder="Password" required>

    <!-- Button for login -->
    <button type="button" id="button" (click)="signInWithEmail()">
      Login
    </button>

    <!-- Button for registration -->
    <a [routerLink]="['/sign-up']">Sign Up</a>


  </form>
</div>
